$main-color: #262A3F;
$main-color2: #E4E4E4; 
$bg-color: #ffffffcf;
$text-green: #85BBB1;
$btn-color: #F1897B;
$btn-color-hover: #E54F3A;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);