$main-color: #ffffff;
$main-color2: #515773; 
$bg-color:  #161926c9;
$text-green: #689FF2;
$btn-color: #53F3CD;
$btn-color-hover: #02E0AB;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);